services:
  portal:
    image: ghcr.io/gosuda/portal:1
    pull_policy: always
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - "--port"
      - "${PORTAL_PORT:-4017}"
    environment:
      PORTAL_URL: ${PORTAL_URL:-http://localhost:${PORTAL_PORT:-4017}}
      PORTAL_APP_URL: ${PORTAL_APP_URL:-http://*.localhost:${PORTAL_PORT:-4017}}
      ADMIN_SECRET_KEY: ${ADMIN_SECRET_KEY:-}
      FUNNEL_DOMAIN: ${FUNNEL_DOMAIN:-localhost}
      FUNNEL_PORT: ${FUNNEL_PORT:-443}
      TLS_CERT: ${TLS_CERT:-}
      TLS_KEY: ${TLS_KEY:-}
    ports:
      - "${PORTAL_PORT:-4017}:4017"
      - "${FUNNEL_PORT:-443}:443"
    restart: unless-stopped
