services:
  portal:
    image: ghcr.io/gosuda/portal:1
    pull_policy: always
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - "--port"
      - "${PORTAL_PORT:-4017}"
    environment:
      PORTAL_URL: ${PORTAL_URL:-http://localhost:${PORTAL_PORT:-4017}}
      BOOTSTRAP_URIS: ${BOOTSTRAP_URIS:-http://localhost:${PORTAL_PORT:-4017}}
      ADMIN_SECRET_KEY: ${ADMIN_SECRET_KEY:-}
    ports:
      - "4017:4017"
    restart: unless-stopped
