services:
  portal:
    image: ghcr.io/gosuda/portal:1
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - "--port"
      - "4017"
    env_file:
      - .env
    ports:
      - "4017:4017"
    restart: unless-stopped
