services:
  portal:
    image: portal:1
    pull_policy: always
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - "--port"
      - "${PORTAL_PORT:-4017}"
    environment:
      PORTAL_URL: ${PORTAL_URL:-http://localhost:${PORTAL_PORT:-4017}}
      PORTAL_APP_URL: ${PORTAL_APP_URL:-http://*.localhost:${PORTAL_PORT:-4017}}
      BOOTSTRAP_URIS: ${BOOTSTRAP_URIS:-ws://localhost:${PORTAL_PORT:-4017}/relay}
    ports:
      - "4017:4017"
    restart: unless-stopped
